.mainStyle {
  background-image: url("./components/images/bg3.jpg");

  /* height: 2100px; */

  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  /* color: #ffdc5c; */
  color: #0ad4e6;
}
.navbar-brand {
  color: white;
  font-size: 2.5rem;
}
.navbar-brand:hover {
  color: white;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    padding-top: 2rem;
  }
  .intro-main {
    margin-top: 15rem;
    margin-bottom: 20rem;
  }
  .intro-card {
    font-size: 3rem;
    width: 30rem;
  }
}
@media (max-width: 400px) {
  .intro-card {
    font-size: 2rem;
  }
}

.card-img,
.card-img-top {
  height: 20rem;
}
.footerElement {
  color: white;
}
a {
  color: white !important;
  text-decoration: none !important;
}
a:hover {
  color: #0ad4e6 !important;
}
.cardDes {
  font-size: 1.2rem;
  justify-content: center;
}
